{
    "env": {
      "browser": true,
      "es2022": true,
      "node": true
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "overrides": [
      {
        "files": ["*.js", "*.jsx"],
        "plugins": [
          "react",
          "react-hooks",
          "jsx-a11y",
          "promise",
          "import",
          "unicorn",
          "react-refresh",
          "tailwindcss"
        ],
        "extends": [
          "eslint:recommended",
          "plugin:prettier/recommended",
          "plugin:react/recommended",
          "plugin:jsx-a11y/recommended",
          "plugin:unicorn/recommended",
          "plugin:react-hooks/recommended",
          "plugin:tailwindcss/recommended",
          "plugin:security/recommended",
          "plugin:promise/recommended",
          "plugin:import/recommended",
          "plugin:n/recommended",
          "prettier"
        ],
        "rules": {
            "react/prop-types": "off",
          "jsx-a11y/no-redundant-roles": "warn",
          "react/react-in-jsx-scope": "off",
          "unicorn/filename-case": "off",
          "unicorn/prevent-abbreviations": "off",
          "prettier/prettier": "warn",
        }
      },
      { // Configuration for Astro files.
        "files": ["*.astro"],
        "parser": "astro-eslint-parser",
        "parserOptions": {
          "parser": "@typescript-eslint/parser",
          "extraFileExtensions": [".astro"]
        },
        "plugins": ["prettier", "tailwindcss", "jsx-a11y", "promise", "import", "unicorn", "testing-library"],
        "extends": [
          "eslint:recommended",
          "plugin:prettier/recommended",
          "plugin:jsx-a11y/recommended",
          "plugin:unicorn/recommended",
          "plugin:astro/recommended",
          "plugin:security/recommended",
          "plugin:tailwindcss/recommended",
          "plugin:import/recommended",
          "plugin:n/recommended",
          "prettier"
        ],
        "rules": {
          "jsx-a11y/no-redundant-roles": "warn",
          "unicorn/filename-case": "off",
          "unicorn/prevent-abbreviations": "off"
        }
      }
    ]
  }