---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import NavLink from "../components/NavLink.astro";


import konumImage from "../assets/images/konum.jpg";
import menuImage from "../assets/images/menu.jpg";
---

<Layout title="Ye-An Pide">
	<nav class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-3xl">
		<NavLink
			image={konumImage}
			title="Konum"
			href="https://maps.app.goo.gl/sfFBhQNdQfgm9nfy7"
			alt="Konum bağlantısı"
		/>
		<NavLink
			image={menuImage}
			title="Menü"
			href="/menu"
			alt="Menü bağlantısı"
		/>
	</nav>
	<Footer />
</Layout>
