---
import Layout from '../layouts/Layout.astro';
import NavLink from '../components/ui/NavLink.astro';

import menuImage from '../assets/images/menu.jpg';
import locationImage from '../assets/images/konum.jpg';
import socialMedia from '../assets/images/sosyal_medya.jpg';
---

<Layout title="Ye-An Pide">
  <div class="md:relative grid grid-cols-1 md:grid-cols-3 gap-8 pb-8 md:pb-0 md:-top-16" transition:animate="slide">
    <div class="order-2 md:order-1 ">
      <NavLink
        className="p-4 gap-4"
        image={locationImage}
        title="Konum"
        href="https://maps.app.goo.gl/sfFBhQNdQfgm9nfy7"
        alt="Konum bağlantısı"
        target="_blank"
        rel="noopener noreferrer"
      />
    </div>
    <div class="md:relative order-1 md:order-2 bottom-0 md:top-16">
      <NavLink
        className="p-4 gap-4"
        image={menuImage}
        title="Menü"
        href="/menu"
        alt="Menü bağlantısı"
      />
    </div>
    <div class="order-3 ">
      <NavLink
        className="p-4 gap-4"
        image={socialMedia}
        title="Sosyal Medya"
        href="https://instagram.com/yean_umitkoy"
        alt="Sosyal medya bağlantısı"
        target="_blank"
        rel="noopener noreferrer"
      />
    </div>
  </div>
</Layout>
