---
import Layout from '../layouts/Layout.astro';
import NavLink from '../components/ui/NavLink.astro';

import menuImage from '../assets/images/menu.jpg';
import locationImage from '../assets/images/konum.jpg'
import socialMedia from '../assets/images/sosyal_medya.jpg'
---

<Layout title="Ye-An Pide">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4" transition:animate="slide">
    <NavLink
      className="p-4 gap-4 order-2 md:order-1"
      image={locationImage}
      title="Konum"
      href="https://maps.app.goo.gl/sfFBhQNdQfgm9nfy7"
      alt="Konum bağlantısı"
      target="_blank"
      rel="noopener noreferrer"
    />
    <NavLink className="p-4 gap-4 order-1 md:order-2" image={menuImage} title="Menü" href="/menu" alt="Menü bağlantısı" />
    <NavLink
      className="p-4 gap-4 order-3"
      image={socialMedia}
      title="Sosyal Medya"
      href="https://instagram.com/yean_umitkoy"
      alt="Sosyal medya bağlantısı"
      target="_blank"
      rel="noopener noreferrer"
    />
  </div>
</Layout>
