---
import { Image } from 'astro:assets';
import Button from './ui/Button.astro';

import instagramIcon from '../assets/icons/instagram.svg';
import pinIcon from '../assets/icons/pin.svg';
---

<footer class="w-auto gap-4 grid grid-cols-2 justify-center pt-8">
  <a target="_blank" rel="noopener noreferrer" href="https://maps.app.goo.gl/sfFBhQNdQfgm9nfy7">
    <Button className="gap-4 w-full h-full items-center p-4">
      <Image
        class="invert sepia saturate-0 hue-rotate-90 brightness-105 contrast-100"
        src={pinIcon}
        height={76}
        width={76}
        alt="Instagram adresi"
      />
      <h3 class="text-base font-medium text-center text-white text-shadow">Konumumuz</h3>
    </Button>
  </a>
  <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/yean_umitkoy">
    <Button className="gap-4 w-full h-full items-center p-4">
      <Image
        class="invert sepia saturate-0 hue-rotate-90 brightness-105 contrast-100"
        src={instagramIcon}
        height={64}
        width={64}
        alt="Instagram adresi"
      />
      <h3 class="text-base font-medium w-min text-center text-white text-shadow">Instagram Adresimiz</h3>
    </Button>
  </a>
</footer>
