---
import { Image } from "astro:assets";
import Button from "./Button.astro";

interface Props {
    title: string;
    image: ImageMetadata;
    href: string;
    alt: string;
}

const { href, title, image, alt } = Astro.props;
---

<a href={href}>
    <Button className="gap-4">
        <Image
            class="rounded-2xl w-auto h-80 md:h-120 shadow-lg"
            src={image}
            alt={alt}
        />
        <h2 class="text-white font-bold text-3xl w-full text-center">
            {title}
        </h2>
    </Button>
</a>
